[submodule "packages/core"]
	path = packages/core
	url = git@github.com:CodeFatherG/probi-oh-core.git
[submodule "packages/types"]
	path = packages/types
	url = git@github.com:CodeFatherG/probi-oh-types.git
